<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>중고로사자 광장</title>
</head>

<body layout:fragment="content">
    <div class="container my-4">
        <div th:if="${param.signupSuccess}" class="alert alert-success text-center mt-3">
            🎉 회원가입이 완료되었습니다! 중고사자에 오신 것을 환영합니다.
        </div>
        <h2 class="mb-4">📦 중고로사자 광장</h2>

        <div id="post-list" class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="post : ${posts}">
                <div class="card h-100">
                    <img th:src="${post.imageUrl}" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}">상품명</h5>
                        <p class="card-text">
                            <span th:text="'카테고리: ' + ${post.category}"></span><br>
                            <span th:text="'상태: ' + ${post.condition}"></span><br>
                            <span th:text="'등록일: ' + ${post.date}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>