<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Page</title>
  </head>
  <style>
    .table-container {
      height: 1000px; /* 원하는 높이로 설정 */
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
  </style>
  <body>
    <h1>안녕하세요, <span th:text="${username}">이름</span> 님!</h1>

    <h2>게시판 글 목록</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <!-- 게시글 목록을 출력 -->
          <th:block th:each="post : ${posts}">
            <tr>
              <td>
                <a
                  th:href="@{/post/{postId}(postId=${post.postId})}"
                  th:text="${post.title}"
                  style="color: #007bff; text-decoration: none"
                  >게시글 제목</a
                >
              </td>
              <td>
                <a
                  th:href="@{/user/{profileId}(profileId=${post.profileId})}"
                  th:text="${post.username}"
                  style="color: #007bff; text-decoration: none"
                  >작성자</a
                >
              </td>

              <td th:text="${post.view}">조회수</td>
              <td th:text="${#temporals.format(post.date, 'yyyy-MM-dd HH:mm')}">
                작성일
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>
  </body>
</html>
