<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Page</title>
  </head>
  <body>
    <h1>안녕하세요, <span th:text="${username}">이름</span> 님!</h1>

    <h2>게시판 글 목록</h2>
    <div style="max-width: 800px; margin: 0 auto">
      <ul style="list-style: none; padding: 0">
        <!-- 게시글 목록을 출력 -->
        <th:block th:each="post : ${posts}">
          <li
            style="
              border: 1px solid #ccc;
              border-radius: 8px;
              margin-bottom: 20px;
              padding: 16px;
              background: #fff;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            "
          >
            <div style="margin-bottom: 8px; color: #666; font-size: 14px">
              작성자:
              <a
                th:href="@{/user/{profileId}(profileId=${post.profileId})}"
                th:text="${post.username}"
                style="color: #007bff; text-decoration: none"
                >작성자</a
              >
              | 조회수: <span th:text="${post.view}">조회수</span> | 작성 날짜:
              <span
                th:text="${#temporals.format(post.date, 'yyyy-MM-dd HH:mm')}"
                >작성일</span
              >
            </div>
            <div
              style="font-size: 20px; font-weight: bold; margin-bottom: 10px"
            >
              <span>제목:</span>
              <a
                th:href="@{/post/{postId}(postId=${post.postId})}"
                th:text="${post.title}"
                style="
                  color: #333;
                  text-decoration: none;
                  display: inline-block;
                  width: 50px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                "
              >
                게시글 제목
              </a>
            </div>

            <div
              style="font-size: 16px; white-space: pre-wrap; margin-top: 10px"
            >
              <p th:text="${post.content.length() > 50 ? #strings.substring(post.content, 0, 20) + '...' : post.content}"></p>
              </p>
            </div>
          </li>
        </th:block>
      </ul>
    </div>
  </body>
</html>
